aiohttp==3.14.1
prometheus_client==0.25.0
twitchAPI==4.5.0
APScheduler==3.11.2
tzlocal==5.3.1
alembic==1.18.4
psycopg[binary]==3.3.4
dateparser==1.4.0
discord.py==2.7.1
pydantic-settings==2.14.1
SQLAlchemy-Utils==0.42.1
SQLAlchemy[asyncio]==2.0.50
feedparser==6.0.12
tldextract==5.3.1
