location = /discord-bot/health {
    auth_basic "Restricted";
    auth_basic_user_file  {{ nginx_confd_container_path }}/{{ discord_proxy_target }}-custom-locations/meow-bot-health.htpasswd;
    proxy_pass            http://discord-meow-bot:{{ health_port }}/health;
    proxy_read_timeout    5s;
    proxy_connect_timeout 3s;
}
